{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row" style="direction: rtl;">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="/store" class="btn btn-outline-dark">&#x2190; اكمل التسوق </a>

                            <br>
            <br>

            <table class="table">
                <tr>
                    <th><h5>الإجمالي: </h5><strong>{{forder.get_cart_total}}</strong></th>
                    <th><h5>الطلبات: </h5><strong>{{forder.get_cart_items}}</strong></th>
                    <th>
                        <a href="/cheak" class="btn btn-success" style="float: right; margin: 5px;" >اطلب الان</a>
                    </th>
                </tr>
            </table>
            </div>


        </div>


        <br>

        <div class="col-lg-12">
            <div class="box-element">
            <div class="cart-row">
                <div style="flex: 2;"></div>
                <div style="flex: 2;"><strong>المنتج</strong></div>
                <div style="flex: 1;"><strong>السعر</strong></div>
                <div style="flex: 1;"><strong>الكمية</strong></div>
                <div style="flex: 1;"><strong>الكلي</strong></div>
            </div>
            <br>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex: 2;"><img class="row-image" src="/media/{{item.product.image}}"></div>
                <div style="flex: 2;">{{ item.product.name }}</div>
                <div style="flex: 1;"><strong>{{item.product.price}} ر.س</strong></div>
                <div style="flex: 1;">
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity">
                        <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">
                        <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
                    </div>
                </div>
                <div style="flex: 1;">{{item.get_total}} ر.س</div>
            </div>
            {% endfor %}
            </div>

        </div>
    </div>
{% endblock content %}